@model ToDoList.Models.TaskListModel.Rootobject
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Assets/css/custom.css" rel="stylesheet" />
</head>
<body>
    <div class="row d-flex justify-content-center container">
        <div class="col-md-8">
            <div class="card-hover-shadow-2x mb-3 card">
                <div class="card-header-tab card-header">
                    <div class="card-header-title font-size-lg text-capitalize font-weight-normal"><i class="fa fa-tasks"></i>&nbsp;Task Lists</div>
                </div>
                <div class="scroll-area-sm">
                    <perfect-scrollbar class="ps-show-limits">
                        <div style="position: static;" class="ps ps--active-y">
                            <div class="ps-content">
                                <ul class=" list-group list-group-flush">

                                    @foreach (var item in Model.tasks)
                                    {
                                        <li class="list-group-item">
                                            <div class="todo-indicator bg-focus"></div>
                                            <div class="widget-content p-0">
                                                <div class="widget-content-wrapper">
                                                    <div class="widget-content-left mr-2">
                                                        <div class="custom-checkbox custom-control">
                                                            <input class="custom-control-input check-input" @(item.status == "1" ? "checked" : "") id="exampleCustomCheckbox-@item.id" type="checkbox">
                                                            <label class="custom-control-label" for="exampleCustomCheckbox-@item.id">&nbsp;</label>
                                                        </div>
                                                    </div>
                                                    <div class="widget-content-left flex2 w-80">
                                                        <input type="text" class="form-control form-control-sm widget-heading input-group radius input-value" required @(item.status == "1" ? "readonly" : "") id="input-value-@item.id" value="@item.value" />
                                                    </div>
                                                    <div class="widget-content-right">
                                                        <form action="/Home/Edit" method="post">
                                                            <input type="hidden" name="id" value="@item.id" />
                                                            <input type="hidden" name="status" class="exampleCustomCheckbox-@item.id-status" value="@item.status" />
                                                            <input type="hidden" name="value" class="input-value-@item.id" value="@item.value" />
                                                            <button type="submit" class="border-0 btn-transition btn btn-outline-success">
                                                                <i class="fa fa-check"></i>
                                                            </button>
                                                        </form>
                                                        <form action="/Home/Remove" method="post">
                                                            <input type="hidden" name="id" value="@item.id" />
                                                            <button type="submit" class="border-0 btn-transition btn btn-outline-danger">
                                                                <i class="fa fa-trash"></i>
                                                            </button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </perfect-scrollbar>
                </div>
                <div class="d-block text-right card-footer">
                    <form action="/Home/Add" method="post">
                        <input class="form-control form-control-sm input-group round-form radius" required type="text" name="value" />
                        <button type="submit" class="btn btn-primary mt-3 btn-submit">Add Task</button>
                    </form>
                    <form action="/Home/Edit" method="post">
                        <input class="form-control form-control-sm input-group round-form radius" required type="text" name="value" />
                        <button type="submit" class="btn btn-primary mt-3 btn-submit">Add Task</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script>
        $(".check-input").click(function (e) {
            var check = $(this).is(':checked')
            var id = e.target.id;
            var className = "." + id + "-status"
            $(className).val(check == true ? "1" : "0");
        });

        $(".input-value").keyup(function (e) {
            var value = $(this).val();
            var className = "." + e.target.id;
            $(className).val(value);
        });


        $(".check-input").click(function (e) {
            var check = $(this).is(':checked')
            var id = e.target.id;
            var res = id.split("-");
            var attrId = "#input-value-" + res[res.length - 1];
            if (check) {
                $(attrId).attr('readonly', true);
            }
            else {
                $(attrId).attr('readonly', false);
            }
        });
    </script>
</body>
</html>
